html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.search::placeholder {
  font-size: 25px;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.population {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}

/* My CSS */
#title {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.display-none {
  display: none;
}

#countryDetail {
  margin: 0 auto;
  width: 70vw;
  height: auto;
  background-color: rgba(5, 82, 112, 0.6);
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
}

#countryDetail .name {
  font-size: 3rem;
  margin: 2px 8px;
  color: white;
  display: inline;
}

#countryDetail .flag {
  background-size: contain;
  width: 2rem;
  height: auto;
  vertical-align: baseline;
}

#countryDetail p {
  border: 1px solid yellowgreen;
}

#countryDetail .region {
  font-size: 1rem;
  margin: 0;
  color: yellowgreen;
}

#tablebody {
  overflow-x: auto;
}

#countryDetail table {
  margin: 0 auto;
  margin-top: 2rem;
}

#countryDetail table td {
  text-align: left;
  width: 15rem;
  padding: 10px;
  margin: 5px;
  color: yellow;
}

#countryDetail table td:nth-child(odd) {
color: rgb(255, 179, 38);
text-align: right;
padding-right: 30px;
}

#countryDetail table td:nth-child(2) {
  border-right: 1px solid rgba(255, 255, 0, 0.2);
}

.label {
  font-weight: bold;
}

/* Media Queries */

@media (max-width: 500px){
  .search-form {
    max-width: auto;
    margin: 30px auto;
  }

  input.search {
    font-size: 25px;
    width: 100%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  input.search::placeholder {
    font-size: 20px;
  }

  #countryDetail .name {
    font-size: 2rem;
  }
}

@media (max-width: 400px){
  input.search {
    font-size: 20px;
    padding: 15px;
  }

  input.search::placeholder {
    font-size: 18px;
  }

  #countryDetail table {
    border: 1px solid yellow;
  }

  #countryDetail .name {
    font-size: 1.5rem;
  }
}
